<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="playApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>What to Play | A board game night decision maker.</title>
<meta name="description" content="Webapp for figuring out board games to play from multiple player's collections. Uses BoardGameGeek for collection management.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="assets/css/icomoon.css">
<link rel="stylesheet" href="assets/css/style.css">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<script src="assets/js/modernizr-2.6.2.min.js"></script>

<!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js" type="text/javascript"></script>
  <script src="assets/js/respond.js" type="text/javascript"></script>
<![endif]-->
</head>
<body ng-controller="MainController">
<!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="page" class="hfeed site" ng-cloak>
	<nav id="site-navigation" class="main-navigation" role="navigation">
		<div class="menu-toggle"><i class="icon-menu2"></i></div>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<ul>
			<li class="brand"><a href="./">What to Play</a></li>
			<li><a href="https://github.com/mcgraths/what-to-play">GitHub</a></li>
		</ul>
	</nav><!-- #site-navigation -->
	<header id="masthead" class="site-header" role="banner">
		<div class="site-branding">
			<h1 class="site-title">What to Play <i class="icon-dice"></i></h1>
			<h3 class="site-description">Find out what to play or buy for your gaming group.<br>Showing games from {{members}}</h3>
			<!-- <div id="download">
				<a href="" class="button secondary">Download</a>
			</div> -->

			<div class="filters">
				<div class="col">
			        <select ng-model="mode">
			            <option value="play">Games To Play</option>
			            <option value="buy">Games To Buy</option>
			      </select>
				</div>

				<div class="col">
					<select ng-model="playerCount">
			            <option value="any">Any Number of Players</option>
			            <option value="1">1 Player</option>
			            <option value="2">2 Players</option>
			            <option value="3">3 Players</option>
			            <option value="4">4 Players</option>
			            <option value="5">5 Players</option>
			            <option value="6">6 Players</option>
			            <option value="7">7 Players</option>
			            <option value="8">8 Players</option>
			            <option value="9">9 Players</option>
			            <option value="10">10+ Players</option>
			      	</select>
				</div>

				<div class="col">
					<select ng-model="playTime">
			            <option value="any">Any Length of Time</option>
			            <option value="0-30">30 min or less</option>
			            <option value="30-60">30-60 min</option>
			            <option value="60-120">1-2 hours</option>
			            <option value="120-180">2-3 hours</option>
			            <option value="180-1440">3+ hours</option>
			      	</select>
				</div>
			</div>

			 
		</div>
	</header><!-- #masthead -->


	<div id="content" class="site-content" ng-cloak>
			<main id="main" class="site-main" role="main">
				<article class="post">

					<div class="loading" ng-show="loading">
				  		Loading games...
			  		</div>

			  		<div class="results" ng-hide="loading">
					  

					  <table cellspacing="0" cellpadding="0">
					    <tr>
					      <th>#</th>
					      <th ng-click="sortCollection('name')">Game</th>
					      <th>Player Count</th>
					      <th ng-click="sortCollection('playingTime')">Play Time</th>
					      <th ng-click="sortCollection('rank')">Rank</th>
					      <th ng-click="sortCollection('averageRating')">Rating</th>
					    </tr>
					    <tr ng-repeat="game in gameCollection | filter: filterCollection | orderBy:sortType:sortReverse"">
					    	<td><span class="subtle">{{$index + 1}}</span></td>
					      	<td><a target="_blank" href="https://boardgamegeek.com/boardgame/{{game.gameId}}">{{game.name}}</a></td>
					      	<td>{{game.minPlayers}}-{{game.maxPlayers}}</td>
					      	<td>{{game.playingTime}} min</td>
					      	<td>{{game.rank > 0 ? game.rank: '--'}}</td>
					      	<td>{{game.averageRating.toFixed(2)}}</td>
					    </tr>
					  </table>
			  		</div>
			  </article>
			</main><!-- #main -->


	</div><!-- #content -->



	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			Powered by <a href="https://boardgamegeek.com/">BoardGameGeek</a>
		</div>
	</footer><!-- #colophon -->
</div><!-- #page -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
<script src="app/app.js"></script>
<script src="assets/js/navigation.js"></script>
</body>
</html>