/* Grid */
.row {
    @include outer-container;
    @include clearfix;
}

.one {
    @include span-columns(1);
    @include pad;
}

.two {
    @include span-columns(2);
    @include pad;
}

.three {
    @include span-columns(3);
    @include pad;
}

.four {
    @include span-columns(4);
    @include pad;
}

.five {
    @include span-columns(5);
    @include pad;
}

.six {
    @include span-columns(6);
    @include pad;
}

.seven {
    @include span-columns(7);
    @include pad;
}

.eight {
    @include span-columns(8);
    @include pad;
}

.nine {
    @include span-columns(9);
    @include pad;
}

.ten {
    @include span-columns(10);
    @include pad;
}

.eleven {
    @include span-columns(11);
    @include pad;
}

.twelve {
    @include span-columns(12);
    @include pad;
}

@include media($mobile) {
    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine,
    .ten,
    .eleven,
    .twelve {
        @include fill-parent;
        @include pad;
    }
}